<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>   
    </head>
    <body>
        <header>
            <h1>Travel App</h1>
        </header>
        
        <section>
            <!-- Form Section -->
        </section>

        <section>
            <!-- Saved Plans Section -->
        </section>
        
        <div class="container">
            <div class="form-container">
                    <span>Let's go on a trip</span>
                    <div class="to-control">
                        <label for="to">to</label>
                        <input type="text" class="form-control" id="to" aria-describedby="To" placeholder="Enter location here">    
                    </div>
                    <div class="date-control">
                        <label for="on"> on </label>
                        <input type="date" class="form-control" id="on" aria-describedby="On">
                    </div>
                    <button class="btn-plan">Plan</button>
            </div>
            <div class="result-container">

            </div>
        </div>
    </body>
</html>