<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
    </head>
    <body>
        <div class="main">
            <img id="app-logo" src="#" alt="logo">
            <section>
                <span>Let's plan a trip</span>
                <div>
                    <label for="location">to</label>
                    <input type="text" id="location" placeholder="Enter location" autofocus required />
                </div>
                <div>
                    <label for="date">on</label>
                    <input type="date" id="trip-date" required/>
                </div>
                <button type="submit" class="btn-plan">Plan</button>
            </section>
        </div>
    </body>
</html>