<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
    </head>
    <body>
        <header class="main">
            <img id="app-logo" src="#" alt="logo">
            <section>
                <span>Trip</span>
                <div>
                    <label for="location">to</label>
                    <input type="text" id="location" placeholder="Enter location" autofocus required />
                </div>
                <div>
                    <label for="date">on</label>
                    <input type="date" id="trip-date" required/>
                </div>
                <button type="submit">Plan</button>
            </section>
        </header>
        <div class="results-container">
            <div class="card">
                <img id="card-img-top" src="#" alt="snap">
                <p>Your trip to <strong>HOUSTON</strong> is in <strong>3</strong> days!
                    Expect the temperature to be about <strong>80F</strong>.
                    Make sure to carry some <strong>DOLLARS $</strong>with you!</p>
                <div class="card-footer">
                    <button>Cancel</button>
                    <button>Save</button>
                </div>
            </div>
        </div>
        <div class="cards-container">
            <div class="card">
                <img id="card-img-top" src="#" alt="snap">
                <p>Your trip to <strong>HOUSTON</strong> is in <strong>3</strong> days!
                    Expect the temperature to be about <strong>80F</strong>.
                    Make sure to carry some <strong>DOLLARS $</strong>with you!</p>
            </div>
        </div>
    </body>
</html>