@import './colors.scss';

header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;

    > img {
        width: 15%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        padding: 2rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        > img {
            width: 50%;
            height: auto;
        }
    }
}
